<div class="component">
  <table id="target-language-column">
    <thead>
      <tr>
        <th *ngFor="let targetLanguageColumn of targetLanguageColumns">
          <app-select-language-dropdown></app-select-language-dropdown>
          <button (click)="moveColumnLeft(targetLanguageColumn)">left</button>
          <button (click)="moveColumnRight(targetLanguageColumn)">right</button>          
          <button (click)="removeColumn(targetLanguageColumn)">x</button></th>
        <th><button (click)="addNewColumn()" id="add">New column</button></th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <!-- display array of translated phrases -->
      </tr>
    </tbody>
  </table>
</div>
