<div class="component">
  <table id="target-language-column">
    <thead>
      <tr>
        <th *ngFor="let targetLanguageColumn of targetLanguageColumns">
          <app-select-language-dropdown></app-select-language-dropdown>
          <button (click)="moveColumnLeft(targetLanguageColumn)">left</button>
          <button (click)="moveColumnRight(targetLanguageColumn)">right</button>          
          <button (click)="removeColumn(targetLanguageColumn)">x</button></th>
        <th><button (click)="addNewColumn()" id="add">New column</button></th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td *ngFor="let targetLanguageColumn of targetLanguageColumns">
          <input type="text" name="search" placeholder="Search word/phrase">
          <button (click)="search()">search</button>
        </td>
        <!-- [(ngModel)]="searchedPhrase" >{{targetLanguageColumn.text}} -->
      </tr>
      <!-- <tr>
        <td *ngFor="let targetLanguageColumn of targetLanguageColumns" class="search-column main-language phrase-equivalent-id-1">{{targetLanguageColumn.phrase}}</td>
      </tr> -->
    </tbody>
  </table>
</div>
