<!-- <div class="component">
  <div id="target-language-column">
    <div *ngFor="let targetLanguageColumn of targetLanguageColumns">
          tue /(wed2: Send selectedLanguage value from target to app, then to main - 1.Get listened value from dropdown
          <app-select-language-dropdown [targetLanguageColumn]="targetLanguageColumn"></app-select-language-dropdown>
          {{allPhrases[targetLanguageColumn.language]}}
          wed4 last step
          <div>                      
            <button (click)="moveColumnLeft(targetLanguageColumn)">up</button>
            <button (click)="moveColumnRight(targetLanguageColumn)">down</button>          
            <button (click)="removeColumn(targetLanguageColumn)">x</button>
          </div>
    </div>
          
        <button (click)="addNewColumn()" id="add">New column</button>
  </div>
</div> -->

<div class="component" class="container">
  <!-- <div id="target-language-column" class="container">     -->
    <div *ngFor="let targetLanguageColumn of targetLanguageColumns" class="container">
      <div class="language-column col-lg-3 col-md-3 col-sm-3 col-xs-3">
          <!-- <div> -->
              <app-select-language-dropdown [targetLanguageColumn]="targetLanguageColumn"></app-select-language-dropdown>
            <!-- </div> -->
            <div>
              <button (click)="moveColumnLeft(targetLanguageColumn)" class="btn btn-xs btn-info"><i class="fa fa-chevron-up" aria-hidden="true"></i></button>
              <button (click)="moveColumnRight(targetLanguageColumn)" class="btn btn-xs btn-info"><i class="fa fa-chevron-down" aria-hidden="true"></i></button>          
              <button (click)="removeColumn(targetLanguageColumn)" class="btn btn-xs btn-danger"><i class="fa fa-times" aria-hidden="true"></i></button>
            </div>
      </div>
        
        <div class="phrase-column col-lg-9 col-md-9 col-sm-9 col-xs-9">
          <p [hidden]="allPhrases[targetLanguageColumn.language]"><i class="fa fa-question-circle-o" aria-hidden="true"></i> No phrase to show</p>
          {{allPhrases[targetLanguageColumn.language]}}
        </div>
      </div>
    <!-- </div> -->
      
    <div id="add-btn">
        <button (click)="addNewColumn()" class="btn btn-sm btn-primary"><i class="fa fa-plus" aria-hidden="true"></i></button>
    </div>
  </div>



<!-- <div class="component">
    <table id="target-language-column">
      <thead>
        <tr>
          <th *ngFor="let targetLanguageColumn of targetLanguageColumns"> -->
            <!-- tue /(wed2: Send selectedLanguage value from target to app, then to main - 1.Get listened value from dropdown-->
            <!-- <app-select-language-dropdown [targetLanguageColumn]="targetLanguageColumn"></app-select-language-dropdown>
            <button (click)="moveColumnLeft(targetLanguageColumn)">left</button>
            <button (click)="moveColumnRight(targetLanguageColumn)">right</button>          
            <button (click)="removeColumn(targetLanguageColumn)">x</button>
            wed4 last step -->
            <!-- <div>
              {{allPhrases[targetLanguageColumn.language]}}
            </div>
          </th>
            
          <th><button (click)="addNewColumn()" id="add">New column</button></th>
        </tr>
      </thead>
      <tbody> -->
        <!-- wed3
        <tr *ngFor = "let targetPhrase of targetPhrases">
          <td>{{targetPhrase}}</td>
        </tr> -->
      <!-- </tbody>
    </table>
  </div> -->
  
