<nav class="navbar navbar-default" role="navigation">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
        <span class="sr-only">{{title}}</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#">{{title}}</a>
    </div>
  
    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <!-- <div class="nav navbar-nav navbar-right">
          <button class="sign">Sign up</button>
          <button class="sign">Sign in</button>
      </div> -->
      <!-- <ul class="nav navbar-nav navbar-right"> -->
        <!-- <li><a href="#">How it works</a></li> -->
        <!-- <li><a href="#">Help improve our database</a></li> -->
        <!-- <li><a href="#">About</a></li> -->
      <!-- </ul> -->
    </div><!-- /.navbar-collapse -->
  </nav>


<div>
  <div class="container">
    <!-- wed2 - 6. from app.comp.ts, to enable the event to be sent to main-->
    <!-- wed4 - 7. define event listener in (onSendAllPhrases) -->
    <app-main-language-column [selectedTargetLanguage]="selectedTargetLanguage" (onSendAllPhrases)="sendAllPhrases($event)"></app-main-language-column>  
    
  </div>
  <div class="container">
    <!-- wed3 - Goal: send target phrase from main to target 1. define event to listen to in () -->
    <!-- <app-main-language-column [selectedTargetLanguage]="selectedTargetLanguage" (onSendTargetPhrases)="sendTargetPhrases($event)"></app-main-language-column> -->
    <!-- wed2 - 4. listens to the event from target -->
    <!-- wed4 - 8. eneable even to be sent to target -->
    <app-target-language-column (selectedLanguage)="selectLanguage($event)" [allPhrases]="allPhrases"></app-target-language-column>  
    <!-- wed3 - 7. enable event to be sent to target -->
    <!-- <app-target-language-column (selectedLanguage)="selectLanguage($event)" [targetPhrases]="targetPhrases"></app-target-language-column> -->
  </div>
</div>
<div class="container">
<app-addphrase></app-addphrase>
</div>