<div class="component">
  <table id="main-language-column">    
    <thead>
      <th>
        <tr>
          <app-select-language-dropdown (selectedLanguage)="selectLanguage($event)"></app-select-language-dropdown>
        </tr>
      </th>
    </thead>
    <tbody>
      <tr>
        <td>
          <input type="text" name="search" [value]="phrase" (input)="phrase = $event.target.value" placeholder="Search word/phrase">
          <!-- wed3 - 4. (put event into it)-->
          <button (click)="searchPhrase($event)">search</button> 
        </td>
      </tr>
      <tr>
        <td>{{mainPhrase}}</td>
      </tr>
      <tr>
        <!-- display synonyms -->
        <td *ngFor="let phrase of phrases">
          {{phrase.synonym}}
        </td>
      </tr>

    </tbody>
  </table>
</div>

<!-- <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.0.0-alpha.5/css/bootstrap.css"> -->
