<!-- <div class="container">
  <div class="row" *ngFor="let post of posts">
    <div class="card card-block">
      <h4 class="card-title">{{ post.title }}</h4>
      <p class="card-text">{{post.body}}</p>
      <a href="#" class="card-link">Card link</a>
      <a href="#" class="card-link">Another link</a>
    </div>
  </div>
</div> -->

<div class="component">
  <table id="main-language-column">
    <thead>
      <!-- language -->
      <tr *ngIf=""> 
        <!-- <th *ngFor="let targetLanguageColumn of targetLanguageColumns"> -->
          <app-select-language-dropdown></app-select-language-dropdown>
          
          <!-- <button (click)="moveColumnLeft(targetLanguageColumn)">left</button>
          <button (click)="moveColumnRight(targetLanguageColumn)">right</button>          
          <button (click)="removeColumn(targetLanguageColumn)">x</button></th>
        <th><button (click)="addNewColumn()" id="add">New column</button></th> -->
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>
          <input type="text" name="search" placeholder="Search word/phrase">
          <button (click)="searchPhrase()">search</button>
        </td>
        <td *ngFor="let phrase of phrases">
            
        </td>
        <!-- [(ngModel)]="searchedPhrase" >{{targetLanguageColumn.text}} -->
      </tr>
      <!-- <tr>
        <td *ngFor="let targetLanguageColumn of targetLanguageColumns" class="search-column main-language phrase-equivalent-id-1">{{targetLanguageColumn.phrase}}</td>
      </tr> -->
    </tbody>
  </table>
</div>

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.0.0-alpha.5/css/bootstrap.css">
