<div class="component"  class="container" id="main">
  <h3>Look up phrases</h3>
  <div id="main-language-column">    
    <div class="language-column col-lg-3 col-md-3 col-sm-3 col-xs-3">
      <!-- <div> -->
        <app-select-language-dropdown (selectedLanguage)="selectLanguage($event)"></app-select-language-dropdown>          
      <!-- </div> -->
      <div>
        <input type="text" name="search" [value]="phrase" (input)="phrase = $event.target.value" placeholder="Search word/phrase">
        <button (click)="searchPhrase($event)" class="btn btn-xs btn-primary"><i class="fa fa-search" aria-hidden="true"></i></button> 
      </div>
    </div>

    <!-- <h3>Result phrases</h3> -->
    <div class="phrase-column col-lg-9 col-md-9 col-sm-9 col-xs-9">
      <p [hidden]="mainPhrase == false"><i class="fa fa-arrow-right" aria-hidden="true"></i>        
      {{mainPhrase}}</p>
    </div>
  </div>
</div>
  
  
<!-- 
<div class="component">
  <table id="main-language-column">    
    <thead>
      <th>
        <tr>
          <app-select-language-dropdown (selectedLanguage)="selectLanguage($event)"></app-select-language-dropdown>
        </tr>
      </th>
    </thead>
    <tbody>
      <tr>
        <td>
          <input type="text" name="search" [value]="phrase" (input)="phrase = $event.target.value" placeholder="Search word/phrase">
           // wed3 - 4. (put event into it)
          <button (click)="searchPhrase($event)">search</button> 
        </td>
      </tr>
      <tr>
        <td>{{mainPhrase}}</td>
      </tr>
      <tr>
        <!-- display synonyms
        <td *ngFor="let phrase of phrases">
          {{phrase.synonym}}
        </td>
      </tr>

    </tbody>
  </table>
</div>
 -->
