
<div class="component">
    <table id="language-table">
      <thead>
        <tr>
          <th>English</th>
          <!-- <th>Hungarian</th>
          <th>
            <button (click)="addColumn()">add column</button>
          </th>
          <th>
              <button (click)="addColumn()">add column</button>
            </th>
            <th>
                <button (click)="addColumn()">add column</button>
              </th>
              <th>
                  <button (click)="addColumn()">add column</button>
                </th>
                <th>
                    <button (click)="addColumn()">add column</button>
                  </th>
                  <th>
                      <button (click)="addColumn()">add column</button>
                    </th>
                    <th>
                        <button (click)="addColumn()">add column</button>
                      </th><th>
                          <button (click)="addColumn()">add column</button>
                        </th><th>
                            <button (click)="addColumn()">add column</button>
                          </th> -->

        </tr>
      </thead>
      <tbody>
        <!-- this is one row -->
          <!-- rowspan = max number of elements in the array of one of the languages being looked up plus 1-->
        <tr>              
          <td class="search-column main-language phrase-equivalent-id-1">Hello</td>
        </tr>
        <!-- <tr><td class="target-column target-language-1 phrase-equivalent-id-1">Szia</td></tr>
        <tr><td class="target-column target-language-1 phrase-equivalent-id-1">Szervusz</td></tr> -->
        
        <!-- this is one row -->
            <!-- rowspan = max number of elements in the array of one of the languages being looked up -->
        <tr>
            <td class="search-column main-language phrase-equivalent-id-2">Good morning</td>
        </tr>
        <!-- <tr><td class="target-column target-language-1 phrase-equivalent-id-2">Jo reggelt kivanok</td></tr>
        <tr><td class="target-column target-language-1 phrase-equivalent-id-2">Jo reggelt</td></tr>
        <tr><td class="target-column target-language-1 phrase-equivalent-id-2">Jo napot</td></tr>           -->
      
      </tbody>
    </table>
    
</div><!-- /container -->
